<!DOCTYPE html>
<html>

<head>
	<title>{{key}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<style type="text/css">
		.article-block {
			border-top: 2px solid #ccc;
			border-bottom: 2px solid #ccc;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		img {
			max-width: 100%;
		}

		hr {
			border: none;
			border-top: 0.5px solid #ccc;
			width: 98%;
		}

		.dictionary-headings {
			padding-top: 5px;
			padding-bottom: 5px;
			color: darkgreen;
			font-weight: bolder;
		}

		audio {
			height: 0.8em;
		}
	</style>
</head>

<body>
	{% for article in articles %}
	<div class="article-block" id="{{article[0]}}">
		<h2 class="dictionary-headings">
			{{article[1]}}
		</h2>
		{{article[2] | safe}}
	</div>
	{% endfor %}
</body>

</html>
